<!DOCTYPE html>
<html>

<head>
    <title>Mi plantilla EJS</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <h1>Bienvenido a mi plantilla EJS con Mayerlyn</h1>
    <p class="hola">
        <%= mensaje %>
    </p>
    <p>El coronavirus es una familia de virus que puede causar enfermedades en animales
        y humanos. El brote de coronavirus que se detectó en Wuhan, China, en diciembre de 2019,
        es causado por un nuevo tipo de coronavirus llamado SARS-CoV-2. Este virus se propaga principalmente
        a través de las gotas respiratorias cuando una persona infectada tose, estornuda o habla, y también puede
        propagarse por contacto cercano con una persona infectada o superficies contaminadas.

        La enfermedad causada por el virus se llama COVID-19 y puede afectar a cualquier persona, pero es especialmente
        peligrosa para las personas mayores y aquellas con problemas de salud subyacentes. Los síntomas pueden variar
        desde leves hasta graves e incluyen fiebre, tos y dificultad para respirar. La mayoría de las personas se
        recuperan sin necesidad de tratamiento especial, pero en algunos casos, la enfermedad puede ser grave e incluso
        mortal.

        Desde que se detectó el primer caso, el virus se ha extendido por todo el mundo y ha afectado a millones de
        personas. Los gobiernos de todo el mundo han tomado medidas para limitar la propagación del virus, incluyendo el
        cierre de escuelas y negocios, y la imposición de restricciones de viaje y distanciamiento social. También se
        han desarrollado varias vacunas para prevenir la enfermedad y se están implementando campañas de vacunación a
        nivel mundial.</p>
    <img src="<%= '/images/123 AFICHE.jpg' %>" alt="NOOOOOO">
</body>

</html>
<style>

</style>