doctype html
html
head
title Mi plantilla EJS
link(rel="stylesheet", href="/css/stylespug.css")
body
h1 Bienvenido a mi plantilla PUG con Mayerlyn
p.hola #{mensaje}
p Los perritos son una especie de animal mamífero y domesticado, que pertenecen a la familia de los caninos. Son conocidos por ser animales de compañía leales y amorosos que brindan a sus dueños compañía y alegría. Hay muchas razas diferentes de perritos, cada una con características únicas y diferentes tamaños y personalidades.

p Los perritos son animales sociales que requieren atención y cuidados adecuados para mantenerse sanos y felices. Necesitan una dieta equilibrada, ejercicio regular, atención médica, higiene y amor y afecto por parte de sus dueños.

p Los perritos han sido domesticados por humanos desde hace miles de años y han desempeñado diferentes roles en la vida humana, como animales de caza, pastoreo, protección y compañía. Actualmente, son considerados como uno de los animales de compañía más populares en todo el mundo.
img(src="/images/perrito.jpg", alt="NOOOOOO")